{% extends 'base.html' %}

{% block USERPAGE %} active {% endblock %}

{% block page_content %}
<div class="container col-3 border" style="margin-top:15px;">
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <form class="form-edit" method="POST" action="{{ url_for('blueprint_user.edit_profile') }}" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    <div class="mb-3 pt-3" align="center">
        <img class="img-rounded profile-thumbnail align-center" src="{{ url_for('static', filename=avatar_path) }}" width="128" height="128">
    </div>
    <div class="mb-3">
      {{ form.avatar }}
    </div>
    <div class="mb-3">
      {{ form.user_name.label }}
      {{ form.user_name(class="form-control forms-inputs", placeholder="Username") }}
    </div>
    <div class="mb-3">
      {{ form.first_name.label }}
      {{ form.first_name(class="form-control forms-inputs", placeholder="First name") }}
    </div>
    <div class="mb-3">
      {{ form.last_name.label }}
      {{ form.last_name(class="form-control forms-inputs", placeholder="Last name") }}
    </div>
    <div class="mb-3">
      {{ form.phonenumber.label }}
      {{ form.phonenumber(class="form-control forms-inputs", placeholder="Phonenumber") }}
    </div>
    <div class="mb-3">
      {{ form.email.label }}
      {{ form.email(class="form-control forms-inputs", placeholder="Email") }}
    </div>
    <div class="mb-3">
      <a href="{{ url_for('blueprint_user.reset_password') }}">Edit password</a>
    </div>
    <div>
      {{ form.submit(class="btn btn-outline-secondary btn-block") }}
    </div>
    <br>
  </form>
</div>
<br>
{% endblock %}